{% extends 'base.html' %}
{% block content %}

<section class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1>Category : {{category}}</h1>
                <br>
                <br>
                {% for post in posts %}
                <div class="post-preview">
                    <a href="{% url 'blog_detail' post.id %}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <p class="post-subtitle">
                            {{post.body | slice:":200"}}
                        </p>
                    </a>
                    <p class="post-meta">Posted by
                        <strong>Harish CK</strong>
                        on {{ post.created_on.date }} |&nbsp;
                        Categories:&nbsp;
                        {% for category in post.categories.all %}
                        <a href="{% url 'blog_category' category.name %}">
                            {{ category.name }}
                        </a>&nbsp;</p>
                        {% endfor %}
                </div>
                <hr>
                {% endfor %}
                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}