{% extends 'base.html' %}
{% block content %}

<section class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for post in posts %}
                <div class="post-preview">
                    <a href="{% url 'blog_detail' post.slug %}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                    </a>
                    <p class="post-subtitle">
                        {{post.body | slice:":200"}}
                    </p>
                    <p class="post-meta">Posted by
                        <strong>Harish CK</strong>
                        on {{ post.created_on.date }} |&nbsp;
                        Categories:&nbsp;
                        {% for category in post.categories.all %}
                        <a href="{% url 'blog_category' category.name %}">
                            {{ category.name }}
                        </a>&nbsp;
                        {% endfor %}
                    </p>
                </div>
                <hr>
                {% endfor %}
                <!-- Pager -->
                {% if posts.has_other_pages %}
                <div class="text-center">
                    <ul style="list-style: none;" class="row-ul">
                        {% if posts.has_previous %}
                        <li class="btn-paginator">
                            <a class="page" href="?page={{ posts.previous_page_number }}">&laquo;</a>
                        </li>
                        {% else %}
                        <li class="btn-paginator disabled">
                            <span>&laquo;</span>
                        </li>
                        {% endif %}
                        {% for i in posts.paginator.page_range %}
                        {% if posts.number == i %}
                        <li class="btn-paginator focus"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                        <li class="">
                            <a class="btn-paginator page" href="?page={{ i }}">{{ i }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if posts.has_next %}
                        <li class="btn-paginator"><a class="page" href="?page={{ posts.next_page_number }}">&raquo;</a></li>
                        {% else %}
                        <li class="btn-paginator disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>


{% endblock %}